.col2-card {
    grid-column: span 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: $bp-500) {
        display: initial;
        grid-column: auto;
    }
}

.gap-1 {
    display: grid;
    gap: 1rem;
    justify-items: start;
}

.card {
    padding: 2rem;
    gap: 1rem;
    background-color: #fff;
    align-items: center;


    h3 {
        backface-visibility: hidden;
        transition: all .2s;
    }

    & h3:hover {
        transform: scale(1.1);
    }

    @media screen and (max-width: $bp-700) {
        &:nth-of-type(3) {
            order: 1;
        }

        &:nth-of-type(4) {
            order: 1;
        }

        &:nth-of-type(5) {
            order: 1;
        }

        &:nth-of-type(7) {
            order: 2;
        }

        &:nth-of-type(2) {
            order: 1;
        }

        &:nth-of-type(6) {
            order: 3;
        }
    }

}