.showcase {
    padding: 3rem;
    color: #ffffff;
    background-color: var(--color-dark);
    position: relative;

    @media screen and (max-width: $bp-400) {
        padding: 1rem;
    }
    opacity: 1;

    &::before {
        content: "";
        background-image: url(../../images/featured.jpg);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        opacity: .4;
        z-index: 1;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-content: center;
        height: 70vh;

        @media screen and (max-width: $bp-900) {
            grid-template-columns: 3fr 1fr;
        }

        @media screen and (max-width: $bp-500) {
            grid-template-columns: 1fr;
        }

    }

    &__content {
        display: grid;
        grid-row-gap: 1rem;
        justify-items: start;
        z-index: 4;
    }
}

.articles-container {
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;

    & h3 {
        cursor: pointer;
    }
    article.card h3 a {
        color: currentColor;
        text-decoration: none;
    }
    @media screen and (max-width: $bp-700) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $bp-500) {
        grid-template-columns: 1fr;
    }

}